_*
.idea
.project
*.iml
*.ipr
*.iws
*/target
.DS_Store
client-clone/backup_client_data.log
client-clone/SesameDemo-Database.zip
client-clone/demo_database.sql
adminer/databases.inc.php

*.pyc

merge-review/merge-review.sublime-project

merge-review/merge-review.sublime-workspace
